@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap');

html,body{
    height: 100%;
    width: 100%;
    background: url(./istockphoto-1300062329-612x612.jpg) no-repeat center center/cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-size: 50px;
    margin-top: -5px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 4px white;
}

.button{
    padding: 15px;
    margin: 0px 5px;
    /* border: 2px solid rgba(0, 0, 0, 0.055); */
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    width: 60px;
    background: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.135);
}

.button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.107);
}

.row{
    margin: 5px 0px;
}

.row input{
    padding: 15px 30px;
    border: none;
    font-size: 18px;
    background: none;
    border-bottom: 2px solid black;
    text-align: center;
}

.lr{
    background-color: rgba(128, 128, 128, 0.368);
}

.last{
    background-color: rgba(128, 128, 128, 0.368);
}

.last:hover{
    background-color: rgba(0, 0, 0, 0.587);
    color: white;
    color: white;
}

.row input:hover{
    border-bottom: 2px solid black;
    /* background-color: rgba(0, 0, 0, 0.105); */
}

/* Utility Classes */
.textCenter{
    text-align: center;
}

.flex{
    display: flex;
}

.flexCol{
    flex-direction: column;
    justify-content: center;
}

.itemCenter{
    align-items: center;  
}